<h1>Pending tasks</h1>
<ul class="tasks">
<% @pending.each do |t| %>
  <li>
    <%=link_to t.title, t%>
    <%=link_to 'edit', edit_task_path(t) %>
    <%=link_to 'delete', task_path(t), :method=>'delete', :confirm=>'Are you sure you want to delete it?'%>
    <%=link_to 'complete', complete_task_path(t), :method=>'post', :confirm=>'This will complete the task. Continue?'%>
  </li>
<% end %>
</ul>
<%= link_to 'New Task', new_bucket_task_path(@bucket) %>
<%=link_to 'View completed', completed_bucket_tasks_path(@bucket) %>
